$grey-light: rgba(240, 240, 240, 1);
$white: rgb(255, 255, 255);
$grey-medium: rgba(179, 179, 179, 1);
$grey-dark: rgba(60, 60, 60, 1); //

// Blue color palette
$blue-light: rgba(173, 216, 230, 1);
$blue-medium: rgba(41, 151, 210, 1);
$blue-semi-dark: rgba(21, 110, 161, 1);
$blue-dark: rgba(0, 70, 112, 1);

// Pink color palette
$pink-light: rgb(255, 182, 212);
$pink-medium: rgba(235, 118, 182, 1);
$pink-semi-dark: rgb(187, 59, 87);
$pink-dark: rgb(139, 0, 30);

// Yellow color palette
$yellow-light: rgb(255, 245, 186);
$yellow-medium: rgba(249, 194, 67, 1);
$yellow-semi-dark: rgb(226, 159, 34);
$yellow-dark: rgb(204, 122, 0);

// Orange color palette
$orange-light: rgb(255, 222, 178);
$orange-medium: rgba(230, 88, 45, 1);
$orange-semi-dark: rgb(184, 57, 34);
$orange-dark: rgb(139, 0, 0);

// Green color palette
$green-light: rgb(189, 241, 158);
$green-medium: rgba(43, 197, 112, 1);
$green-semi-dark: rgb(21, 159, 39);
$green-dark: rgb(0, 100, 33);
